<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maternity Guide</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>
<body>
    <div>
        <div class="flex justify-center items-center border-2 border-gray-200 border-opacity-60 rounded-lg m-10">
            <div class="p-4 md:w-1/3">
                <div class="h-full overflow-hidden p-4">
                    <h1 class="title-font text-2xl font-bold text-gray-900 mb-3">Hassle-Free Period</h1>
                </div>
            </div>
        </div>

        <div class="flex border-2 border-gray-200 border-opacity-60 rounded-lg m-10">
            <div class="p-4">
                <h1 class="text-2xl font-bold py-4"></h1>
                <h2 class="text-xl font-bold">Being a healthy mom:</h2>
                <ul class="list-disc p-4">
                    <li>Nutrition</li>
                    <li>Products needed</li>
                    <li>Importance of getting a professional gynaecologist</li>
                    <li>Regular health checkups</li>
                    <li>Avoiding the risks</li>
                </ul>

                <h2 class="text-2xl font-bold py-4">Month-By-Month Guide</h2>

                <h2 class="text-xl font-bold">First Trimester Pregnancy needs:</h2>
                <ul class="list-disc p-4">
                    <li>Getting your appointment with a professional OBGYN to make sure that the pregnancy appears normal and get regular health checkups.</li>
                    <li>Schedule your prenatal tests and get your nutritional supplements.</li>
                    <li>Understand the importance of folic acid</li>
                </ul>

                <h2 class="text-xl font-bold">Second Trimester Pregnancy needs:</h2>
                <ul class="list-disc p-4">
                    <li>Start shopping for maternity clothes. After the fourth month, your bump will start to grow considerably, so make sure you’ve got all the right attire.</li>
                    <li>Anomaly-scan and ultrasound exams are performed. These are important prenatal tests, as they ensure the health of your unborn baby.</li>
                    <li>Keep meeting with the person who will be delivering your baby. Developing this relationship will help you feel more comfortable in the delivery room.
                    </li>
                </ul>

                <h2 class="text-xl font-bold">Third-trimester Pregnancy needs:</h2>
                <ul class="list-disc p-4">
                    <li>Find a good pediatrician with other soon-to-be-moms. </li>
                    <li>Pre-register with the hospital. This will make checking in to the hospital much easier when the big day comes since all of the paperwork will already be taken care of.</li>
                    <li>It's time to be a mom!</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>