<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>
<body>
<div class="flex justify-center items-center h-screen">
    <form class="md:w-1/2 sm:w-5/6 p-6 rounded-lg shadow-md" action="/register" method="post">
        <div class="">
            <div class="border-b border-gray-900/10 pb-4">
                <h3 class="font-bold leading-7 text-gray-900">Sign Up</h3>
            </div>
        </div>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
              <div class="mt-2">
                <input type="text" name="name" id="name" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
              </div>
            </div>
    
            <div class="sm:col-span-3">
              <label for="age" class="block text-sm font-medium leading-6 text-gray-900">Age</label>
              <div class="mt-2">
                <input type="number" name="age" id="age" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
              </div>
            </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
              <div class="mt-2">
                <input type="number" name="phone" id="phone" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
              </div>
            </div>
    
            <div class="sm:col-span-3">
                <label for="blood" class="block text-sm font-medium leading-6 text-gray-900">Blood Group</label>
                <div class="mt-2">
                  <select id="blood" name="blood" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>O+</option>
                    <option>O-</option>
                  </select>
                </div>
            </div>
        </div>

        <div class="mt-10">
            <div class="sm:col-span-3">
              <label for="email" class="text-sm font-medium leading-6 text-gray-900">Email ID</label>
              <div class="mt-2">
                <input type="email" name="email" id="email" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
              </div>
            </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
              <div class="mt-2">
                <input type="password" name="password" id="password" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
              </div>
            </div>
    
            <div class="sm:col-span-3">
              <label for="cpassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
              <div class="mt-2">
                <input type="password" name="cpassword" id="cpassword" class="p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" onkeyup="checkpass(this)" required>
              </div>
            </div>
        </div>
        <div class="mb-4">
            <label class="p-4 text-gray-700 font-bold mb-2" id="check_pass"></label>
        </div>
        <div class="mb-4 w-full">
            <button id="signup_button" class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Sign Up</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    var password = document.getElementById('password');
    function checkpass(elem)
    {
        if(elem.value.length>0)
        {
            if(elem.value != password.value)
            {
                document.getElementById('check_pass').innerText = "Password doesn't match!";
                document.getElementById('check_pass').style.color = "red";
            }
            else if(elem.value == password.value)
            {
                document.getElementById('check_pass').innerText = "Password Matched!";
                document.getElementById('check_pass').style.color = "green";
            }
            else
            {
                document.getElementById('check_pass').innerText = "";
            }
        }
        else
        {
            document.getElementById('check_pass').innerText = "";
        }
    }
</script>
</html>